@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');


:root{
    --cor0: #F8EDEB;
    --cor1: #FCD5CE;
    --cor2: #FFB5A7;
    --cor4: #91DCCB;
    --cor5: #52AA93;
    --cor6: #EBD28B;
    --cor7: #494746;


}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Nunito",Helvetica, Arial;
    color: var(--cor7);
    background-color: var(--cor1);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a img{
    display: flex;
    max-width: 100%;
}

.menu-bg{
    background: var(--cor2);
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: var(--cor7);
}

.menu-logo a {
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
    transition: 0.3s
}

.nav-menu ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-menu a{
    font-size: 20px;
    display: block;
    padding: 10px;
}

.menu-logo a:hover{
    color: var(--cor5);
    font-size: 45px;
}
.nav-menu a:hover{
    color: var(--cor5);
    font-size: 22px;
}

.meio-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto; 
}

.introducao-adocao{
    font-size: 48px;
    max-width: 960px;
    padding: 40px 10px;
    padding-left: calc((100% - 960px) /2);
}
.meio-container img{
    padding-left: 20vw;
}

.fotos-adocao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: flex;
    max-width: 960px;
    margin: 0 auto;
}

.adocao li img{
    max-width: 960px;
    border-radius: 10px;
    border: 3px solid var(--cor7);
    width: 200px;
    height: 250px;
    margin-bottom: 20px;
    object-fit: cover;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    place-self: center;
    background-color: var(--cor2);
    max-width: 960px;
    margin: 0 auto;
    width: 80vw;
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 0px lightgrey;
}

p{
    text-align: center;
    color: var(--cor7);
    font-size: 20px;

}

.inscreva-se{
    background: cadetblue;
    padding: 60px calc((100% - 960px) / 2 );
    display: flex;
    flex-wrap: wrap;
}

.inscreva-se-info{
    flex: 1 1 200px;
    margin: 0 10px;
}

.inscreva-se-info h1{
    font-size: 3em;
}

.inscreva-se-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    margin-bottom: 10px;
}

.formulario-inscricao{
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.formulario-inscricao input{
    flex: 3 1 200px;
    font-size: 1.25em;
    font-style: italic;
    font-family: "Nunito",Helvetica, Arial;
    border: 4px solid var(--cor1);
    background: transparent;
    padding: 10px;
    margin: 0px;
}

.formulario-inscricao button{
    flex: 1 1 200px;
    font-family: "Nunito",Helvetica, Arial;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--cor1);
    color: white;
    margin: 0px;
    cursor: pointer;
    border:  0px;
    padding: 15px 10px;
}

.footer{
    display: flex;
    height: 200px;
    align-items: center;
}

.footer p{
    flex: 1;
    text-align: center;
    font-size: 3em;
}
@media (max-width: 375px) {
    .menu-logo a {
        display: none;
    }
}

@media (max-width: 465px){
    .menu-logo a {
        display: none;
    }
    .menu-logo nav{
        display: column;
    }
    
    .nav li{
        padding-left: 40px;
    }

    h1{
        text-align: center;
    }

    .adocao{
        padding-left: 80px;
    }

    .embed{
        display: none;
    }
}
@media (max-width: 790px) {
    .container-2{
        align-items: center;
        display: column;
        flex-wrap: wrap;
    }
    .meio-container{
        display: column;
    }
    .meio-container img{
        padding-left: calc((100% - 960px) /2);
    }
}
